PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://palakbatra79_db_user:pFvbT7Rc3OsJRVLk@cluster0.5ybwssl.mongodb.net/
JWT_ACCESS_SECRET=replace_with_long_random_string
JWT_REFRESH_SECRET=replace_with_another_long_random_string
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CLIENT_ORIGIN=http://localhost:5173
